@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    210 N. Wells St.<br />
    Apt. 2508<br/>
    Chicago, IL 60606<br />
    <abbr title="Phone">P:</abbr>
    312.623.3525
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">gargkanishka90@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">gargkanishka90@gmail.com</a>
</address>
